.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: navy;
  margin-left: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__content {
  list-style: none;
  padding-right: 30px;
  color: navy;
  font-weight: bold;
}

.main {
  position: relative;
  padding-top: 80px;
}

.sentence {
  font-size: 50px;
  position: absolute;
  top: 50vh;
  left: 0vw;
}

.back {
  background: navy;
  position: absolute;
  width: 75vw;
  height: 25vh;
  bottom: -70vh;
}

.image {
  position: absolute;
  width: 50vw;
  height: auto;
  z-index: 1;
  right: 0vw;
  bottom: -58vh;
}